/* Init */

@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@font-face {
    font-family: win95;
    src: url("W95FA.otf") format("opentype");
}

svg {
  position: absolute;
  height: 0;
}

.kode-mono-mono {
  font-family: "Kode Mono", "Courier New", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  margin:0px;
  background-color: #000000;
   height: 100%;
   overflow-y: hidden;
   overflow-x: hidden;
   z-index: 2;
   background-image: url("stars.gif");
   background-repeat: no-repeat;
  background-size: 100vw 100vh;
  /* backdrop-filter: url(#pixelate2); */
  image-rendering: pixelated;
}

/* Scanlines overlay */
body::after{
  z-index: 99999;
  content:'';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background-image: linear-gradient(rgba(39, 43, 46, 0.1) 3px, transparent 3px);
  background-size: 6px 6px;
  background-attachment: fixed;
  pointer-events:none;
}


@media only screen and (max-width: 600px) {
 body #taskbar {
  z-index: 100;
 }
}

#taskbar {
  z-index: -10;
 }

h1 {
  color: white;
  filter: url(#pixelate2);
  font-family: "Kode Mono";
  font-size: 3em;
  text-align: center;
  width: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  top: 2.5vh;
  -webkit-filter: url(#pixelate2);
}

* { box-sizing: border-box; }