@font-face {
    font-family: c64;
    src: url("C64_Pro-STYLE.otf") format("opentype");
}

body {
    overflow:hidden;
}

#bgScroll{
    position: absolute;
    width: 100vw;
    z-index: -100;
    filter: url(#pixelate2);
    image-rendering: pixelated;
    overflow:hidden;
    background: none;
    background-color: none;
}

#bgSkybox {
    position: absolute;
    width: 100vw;
    height: 200vh;
    z-index: -101;
    top: -25vh;
    filter: url(#pixelate2) brightness(110%);
    image-rendering: pixelated;
    background: none;
    background-color: none;
}

h1{
    font-family: c64;
    letter-spacing: 1vh;
    filter: url(#pixelate);
}
