/*Initialize stuff*/
 @font-face {
     font-family: win95;
     src: url("../W95FA.otf") format("opentype");
}
 .column {
     float: left;
     width: 50%;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 svg {
     position: absolute;
     height: 0;
}
 body {
     margin:0px;
     height: 100%;
     overflow-y: hidden;
     overflow-x: hidden;
     color: white;
     image-rendering: pixelated;
}
 * {
     box-sizing: border-box;
}

/* at some point I need to refactor this to all be class based because each button is tedious and inflexible */
 #taskbarContainer{
     width: 100vw;
     height: 50vh;
     position: absolute;
     left: 0;
     bottom: 0;
}
 .bar{
   pointer-events:all;
     box-shadow: inset -2px 2px 0px #f1f0f1;
     padding: 4px;
    /* border: 1px solid red;
     */
     position: absolute;
     bottom: 0px;
     width: 100vw;
     height: 4vh;
     background-color: #c6c3c6;
     color: black;
}
/* Actual buttons */

#appIcons {
     height: 100%;
     position: relative;
     width: 90%;
     display: inline-flex;
     justify-content: flex-start;
     align-items: center;
}

.taskbarEntry{
     position: relative;
     height: 100%;
     display: flex;
     justify-content: flex-start;
     box-sizing: content-box;
     width: fit-content;
     align-items: center;
     border: none;
     padding: 0;
     padding-left: 5px;
     padding-right: 5px;
     cursor: pointer;
     background-color: #c6c3c6;
     box-shadow: inset 1px 1px #f1f0f1, inset 1.5px 2px #eaebea, 1px 1px #323132, 2px 2px #414041;
     gap: 6px;
     margin-right: 8px;
     text-decoration: none;
     color: black;
}

.taskbarEntry img {
     height: 76%;
     image-rendering: pixelated;
     margin: 0;
}

.taskbarEntry p {
     font-family: "win95";
     margin: 0;
     font-size: 1.8cqh;
}

#startbtn {
     -webkit-text-stroke: 1px black;
}

.taskbarEntry.indent{
     box-shadow: inset -1px -1px #f1f0f1, inset -2px -2px #eaebea,inset 1px 1px #323132, inset 2px 2px #414041;
     background-color: #E0E0E0;
}

 #controlPanel{
     display: inline-block;
     position: absolute;
     height: 80%;
     width: 12vh;
     right:0.5%;
    /* border: 1px solid green;
     */
}
 #controlPanel #cPanelVis{
     box-shadow: inset 1px 1px #b0aeb0, inset 1.5px 2px #adaaad, 1px 1px #eae8ea, 2px 2px #e5e4e5;
     background-color: #c6c3c6;
     width: 100%;
     height: 100%;
     padding: 2px;
}
 #volumeCPanel {
     aspect-ratio : 1 / 1;
     height: 100%;
     border: none;
     background-color: #c6c3c6;
     left: 2%;
     position: relative;
}
 #volumeCPanel img{
     width: 130%;
     top: 7%;
     position: relative;
     cursor: pointer;
}
 #controlPanel #clock{
     height: 100%;
     width: 30%;
     position: absolute;
     right: 2%;
     text-align: right;
     padding-left: 0;
     font-family: "win95";
     font-size: 1.7cqh;
     border: none;
     border-radius: 0;
     top: 0;
}
 #controlPanel span{
     z-index: 4;
     position: absolute;
     right: 8%;
     height: 76%;
     image-rendering: pixelated;
}
 #swatchClock a:link, #swatchClock a:visited, #swatchClock a:hover{
     color: black;
     text-decoration: none;
}
 #swatchClock{
     position: absolute;
     right: 1.9%;
     bottom: 1.05%;
     font-family: "win95";
     text-decoration: none;
}

#hider{
     height: 100%;
     width: 0.3%;
     position: absolute;
     right:2px;
     top: 0%;
}