/*Initialize stuff*/
 @font-face {
     font-family: win95;
     src: url("../W95FA.otf") format("opentype");
}
 .column {
     float: left;
     width: 50%;
}
/* Clear floats after the columns */
 .row:after {
     content: "";
     display: table;
     clear: both;
}
 svg {
     position: absolute;
     height: 0;
}
 body {
     margin:0px;
     height: 100%;
     overflow-y: hidden;
     overflow-x: hidden;
     color: white;
     image-rendering: pixelated;
}
 * {
     box-sizing: border-box;
}

/* at some point I need to refactor this to all be class based because each button is tedious and inflexible */
 #taskbarContainer{
     width: 100vw;
     height: 50vh;
     position: absolute;
     left: 0;
     bottom: 0;
}
 .bar{
   pointer-events:all;
     box-shadow: inset -2px 2px 0px #f1f0f1;
     padding: 4px;
    /* border: 1px solid red;
     */
     position: absolute;
     bottom: 0px;
     width: 100vw;
     height: 4vh;
     background-color: #c6c3c6;
     color: black;
}
/* Actual buttons */
 #start{
     display: inline-block;
     height: 100%;
     width: 8vh;
    /* border: 1px solid green;
     */
}
 #start button{
     -webkit-text-stroke: 1px black;
     height: 100%;
     width: 95%;
     position: relative;
     text-align: left;
     padding-left: 48%;
     font-family: "win95";
     font-size: 1.8cqh;
     border: none;
     background-color: #c6c3c6;
     box-shadow: inset 1px 1px #f1f0f1, inset 1.5px 2px #eaebea, 1px 1px #323132, 2px 2px #414041;
     border-radius: 0;
     cursor: pointer;
}
 #start img{
     position: absolute;
     left: 1.1vh;
     top: 25%;
     height: 60%;
     image-rendering: pixelated;
     pointer-events:none;
}
 #platforms{
     display: none;
     position: relative;
     height: 100%;
     width: 18vh;
     margin-right: 8px;
    /* border: 1px solid green;
     */
}
 #platforms button{
     white-space:nowrap;
     height: 100%;
     width: 100%;
     position: relative;
     text-align: left;
     padding-left: 22%;
     padding-right: 5%;
     font-family: "win95";
     font-size: 1.8cqh;
     border: none;
     background-color: #c6c3c6;
     box-shadow: inset 1px 1px #f1f0f1, inset 1.5px 2px #eaebea, 1px 1px #323132, 2px 2px #414041;
     border-radius: 0;
     cursor: pointer;
}
 #platforms img{
     position: absolute;
     left: 4%;
     top: 12%;
     height: 76%;
     image-rendering: pixelated;
     pointer-events:none;
}
 #dreams{
     display: inline-block;
     position: relative;
     height: 100%;
     width: 18vh;
    /* border: 1px solid green;
     */
}
 #dreams button{
     height: 100%;
     width: 95%;
     position: relative;
     text-align: left;
     padding-left: 22%;
     left: -2%;
     font-family: "win95";
     font-size: 1.8cqh;
     border: none;
     background-color: #c6c3c6;
     box-shadow: inset 1px 1px #f1f0f1, inset 1.5px 2px #eaebea, 1px 1px #323132, 2px 2px #414041;
     border-radius: 0;
     cursor: pointer;
}
 #dreams img{
     position: absolute;
     left: 3%;
     top: 12%;
     height: 76%;
     image-rendering: pixelated;
     pointer-events:none;
}
 #controlPanel{
     display: inline-block;
     position: absolute;
     height: 80%;
     width: 12vh;
     right:0.5%;
    /* border: 1px solid green;
     */
}
 #controlPanel #cPanelVis{
     box-shadow: inset 1px 1px #b0aeb0, inset 1.5px 2px #adaaad, 1px 1px #eae8ea, 2px 2px #e5e4e5;
     background-color: #c6c3c6;
     width: 100%;
     height: 100%;
     padding: 2px;
}
 #volumeCPanel {
     aspect-ratio : 1 / 1;
     height: 100%;
     border: none;
     background-color: #c6c3c6;
     left: 2%;
     position: relative;
}
 #volumeCPanel img{
     width: 130%;
     top: 7%;
     position: relative;
     cursor: pointer;
}
 #controlPanel #clock{
     height: 100%;
     width: 30%;
     position: absolute;
     right: 2%;
     text-align: right;
     padding-left: 0;
     font-family: "win95";
     font-size: 1.7cqh;
     border: none;
     border-radius: 0;
     top: 0;
}
 #controlPanel span{
     z-index: 4;
     position: absolute;
     right: 8%;
     height: 76%;
     image-rendering: pixelated;
}
 #swatchClock a:link, #swatchClock a:visited, #swatchClock a:hover{
     color: black;
     text-decoration: none;
}
 #swatchClock{
     position: absolute;
     right: 1.9%;
     bottom: 1.05%;
     font-family: "win95";
     text-decoration: none;
}

#hider{
     height: 100%;
     width: 0.3%;
     position: absolute;
     right:2px;
     top: 0%;
}