@font-face {
  font-family: win95;
  src: url("/sitewide/W95FA.otf") format("opentype");
}

body {
  font-family: "win95";
  overflow: hidden;
}

.win95 {
  font-family: "win95";
  background-color: #c6c3c6;
  box-shadow:
    inset 1px 1px #f1f0f1,
    inset 1.5px 2px #eaebea,
    1px 1px #323132,
    2px 2px #414041;
}

.win95 button:active {
  font-family: "win95";
  background-color: #e0e0e0;
  box-shadow:
    inset -1px -1px #f1f0f1,
    inset -2px -2px #eaebea,
    inset 1px 1px #323132,
    inset 2px 2px #414041;
}

button {
  cursor: pointer;
}

#taskbar {
  z-index: 1000;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0px;
  padding-left: 4px;
  gap: 6px;
}

.taskbarIcon {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.taskbarIcon+label {
  width: fit-content;
  height: 80%;
  font-size: 1.8cqh;
  display: flex;
  justify-content: flex-start;
  box-sizing: content-box;
  align-items: center;
  border: none;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  gap: 4px;
  cursor: pointer;
  box-shadow:
    inset 1px 1px #f1f0f1,
    inset 1.5px 2px #eaebea,
    1px 1px #323132,
    2px 2px #414041;
  text-wrap-mode: nowrap;
}

.taskbarIcon:checked+label {
  box-shadow:
    inset -1px -1px #f1f0f1,
    inset -2px -2px #eaebea,
    inset 1px 1px #323132,
    inset 2px 2px #414041;
  background-color: #e0e0e0;
}

.taskbarIcon+label img {
  height: 65%;
}

.taskbarButton {
  width: fit-content;
  height: 80%;
  font-size: 1.8cqh;
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  box-sizing: content-box;
  align-items: center;
  border: none;
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  gap: 4px;
  cursor: pointer;
}

.taskbarButton img {
  height: 65%;
}

.taskbarButton:focus-within {
  box-shadow:
    inset -1px -1px #f1f0f1,
    inset -2px -2px #eaebea,
    inset 1px 1px #323132,
    inset 2px 2px #414041;
  background-color: #e0e0e0;
}

.taskbarIcon:checked+label #startMenu {
  display: flex;
}

#appIcons {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: clip;
  gap: 6px;
}

#appIcons::-webkit-scrollbar {
  display: none;
}

#startMenu #startMenuBanner {
  display: flex;
  width: 3.6vh;
  position: relative;
  height: auto;
  background-color: #84878c;
  flex-direction: row;
  font-size: 1.5em;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  cursor: default;
}

#startMenuBanner b {
  color: #c2c5ca;
  display: inline;
  padding: none;
  /*transform: rotate(180deg);*/
}

#startMenuBanner p {
  color: #f1f0f1;
  display: inline;
  padding: none;
  /*transform: rotate(180deg);*/
}

#startMenu {
  width: 24vh;
  display: none;
  flex-direction: row;
  position: fixed;
  bottom: 4cqh;
  padding: 2px;
  padding-left: 4px;
  padding-top: 4px;
  gap: 3px;
}

#startMenuContents {
  position: relative;
  flex-grow: 2;
}

.startBorderTop {
  box-shadow: inset 0px 1px 0px 0px #f1f0f1;
  border-top: 1px solid #757275 !important;
}

.startBorderTop:hover {
  box-shadow: none;
  border-top: 1px solid #010080;
}

.startBorderBottom {
  box-shadow: inset 0px -1px 0px 0px #414041;
  border-bottom: 1px solid #f1f0f1 !important;
}

.startMenuEntry {
  font-size: 1.6cqh;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  box-sizing: content-box;
  align-items: center;
  border: none;
  padding: 0;
  cursor: default;
}

.startMenuEntry:hover {
  background-color: #010080;
  color: white;
  transition: 0s;
}

.startMenuEntry:hover .contextArrow {
  filter: invert(1);
  transition: 0s;
}

.startMenuEntry img {
  height: 60%;
  margin-left: 12px;
}

.startMenuEntry p {
  margin: none;
  margin-left: 10px;
  text-align: left;
  padding: 0px;
  width: 60%;
}

.startMenuEntry::before {
  position: absolute;
  content: "";
  width: 5%;
  right: 0%;
  transform: translateX(50%);
  height: 13%;
}

.startMenuLink {
  color: black;
  text-decoration: none;
  font-family: "win95";
  cursor: alias;
}

.noReferrer {
  cursor: pointer !important;
}

.startMenuFolder .contextArrow {
  position: absolute;
  height: 1.4cqh;
  right: 4px;
}

.startSubMenu {
  height: fit-content;
  width: 20vh;
  display: none;
  position: absolute;
  flex-direction: column;
  flex-wrap: nowrap;
  left: calc(100% + 1px);
  padding: 2px;
}

.startMenuFolder:first-of-type .growFromTop {
  top: calc(0% - 1px);
}

.growFromTop {
  transform: translateY(-3px);
}

.growFromBottom {
  transform: translateY(calc(-25% - 5px));
}

.startMenuFolder:hover .startSubMenu {
  display: flex;
}

.startSubMenuEntry {
  border: none;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.startSubMenuEntry:hover {
  background-color: #010080;
  color: white;
  transition: 0s;
}

.startSubMenuLink {
  color: black;
  text-decoration: none;
  font-family: "win95";
  cursor: alias;
}

#controlPanel {
  margin-left: auto;
  width: fit-content;
  min-width: 10vh;
  display: flex;
  box-shadow:
    inset 1px 1px #b0aeb0,
    inset 1.5px 2px #adaaad,
    1px 1px #eae8ea,
    2px 2px #e5e4e5;
  background-color: #c6c3c6;
  height: 70%;
  gap: 5px;
  align-items: center;
  padding-right: 4px;
  padding-left: 4px;
}

#controlPanel img {
  height: 90%;
}

#controlPanel a {
  color: black;
  text-decoration: none;
}

#clock {
  margin-left: auto;
}

#volumeIcon {
  display: none;
}

#volumeIconLabel {
  height: 70%;
  margin-left: 2px;
  cursor: pointer;
}

#volumeControl {
  bottom: 100%;
  transform: translateX(-40%);
  display: none;
  width: 6vh;
  height: max-content;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  gap: 6px;
  cursor: default;
}

#volumeIcon:checked+#volumeIconLabel #volumeControl {
  display: flex;
}

#volumeSlider {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: none;
  width: 2px;
  outline: none;
  height: 10cqh;
  background: black;
  box-shadow:
    1px 1px #f1f0f1,
    inset 1px 1px #323132;
  cursor: pointer;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2cqh;
  height: 1cqh;
  background: #c6c3c6;
  cursor: pointer;
  box-shadow:
    inset 1px 1px #f1f0f1,
    inset 2px 2px #eaebea,
    1px 1px #323132,
    2px 2px #414041;
}

#volumeSlider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #c6c3c6;
  box-shadow:
    inset 1px 1px #f1f0f1,
    inset 2px 2px #eaebea,
    1px 1px #323132,
    2px 2px #414041;
  width: 20px;
  height: 5%;
  background: #000;
  cursor: pointer;
}
