@font-face {
    font-family: win95;
    src: url("/sitewide/W95FA.otf") format("opentype");
}

body {
    font-family: "win95";
    overflow: hidden;
}

.window{
    z-index: 900;
    padding: 2px;
    padding-top: 2px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.maximizedSurface{
    position-anchor: --windowTitlebarAnchor;
    width: 100vw !important;
    height: 94vh !important;
    position: fixed !important;
    left: 0px !important;
    top: calc(anchor(bottom)) !important;
}

.maximizedTitlebar{
    width: calc(100vw - 2px) !important;
    position: fixed !important;
    left: 2px !important;
    top: 2px !important;
}

.maximizedWindow{
    z-index: 950 !important;
}

.maximizedWindow:focus-within{
    z-index: 995 !important;
}


.windowTitlebar{
    anchor-name: --windowTitlebarAnchor;
    height: 2vh;
    width: 100%;
    background-color: #180981;
    color: #f1f0f1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.windowTitleArea{
    margin-right: auto;
    padding: 0px;
    padding-left: 3px;
    width: 100%;
    flex-grow: 2;
}
.windowTitleArea p{
    margin: 0px;
}

.windowTitlebarInteractableArea{
    display: flex;
    height: 100%;
    padding: 2px;
    gap: 4px;
    padding-right: 4px;
    align-items: center;
}

.windowTitlebarInteractableArea button{
    display: flex;
    align-items: center;
    border: none;
    color: black;
    padding: 0px;
    margin: 0px;
    height: calc(100%);
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    aspect-ratio: 1 / 1;
    justify-content: center;
}
.windowSurface{
    width: fit-content;
    height: fit-content;
    padding-right: 2px;
    padding-bottom: 2px;
}

.windowShadow {
    background-color: rgba(0, 0, 0, 0);
    border: 4px solid gray;
    mix-blend-mode: difference;
}

.app {
    width: fit-content;
    height: fit-content;
}

.whiteBackground{
    background-color: #f1f0f1;
    color: black;
    padding: 2px;

    box-shadow: inset -1px -1px #f1f0f1, inset -2px -2px #eaebea,inset 1px 1px #323132, inset 2px 2px #414041;
}